
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

  background-image: url('https://t4.ftcdn.net/jpg/06/77/61/57/360_F_677615781_JS7Bknb2wlyjGsdtr7NSfjwIr618Y1QT.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  color: white;
}




#sentenceDisplay {
    color: grey;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  background: rgba(0,0,0,0.4);
  width: 90%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}


.correct {
  color: #00ff88;
  text-shadow: 0 0 6px #00ff88, 0 0 10px #00ff88;
  transition: 0.2s;
}

.wrong {
  color: #ff4444;
  text-shadow: 0 0 6px #ff4444, 0 0 10px #ff4444;
  transition: 0.2s;
}


.container {
  background: rgba(0,0,0,0.55);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 750px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}


textarea {
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: linear-gradient(135deg, #ff7eb3, #ff758c, #ffb199);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgba(255, 150, 200, 0.8);

  
}


button {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #05f040;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #26b1f1;
}




#typingArea {
    background-image: url("https://i.pinimg.com/236x/bf/a2/ec/bfa2ece68a0580fe3a598837b64933bf.jpg");
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;

    text-shadow:
        0 0 5px #ff00ff,
        0 0 10px #ff00ff,
        0 0 20px #ff00ff,
        0 0 30px #00ffff,
        0 0 40px #00ffff;

   
    animation: textGlow 3s linear infinite alternate;

    
    
}


@keyframes textGlow {
    
    100% {
        text-shadow:
            0 0 5px #ff0000,
            0 0 10px #ff0000,
            0 0 20px #ff7f00,
            0 0 30px #ffff00,
            0 0 40px #ffff00;
        color: #ff0000;
    }
}
#timeSelect {
    background-color: turquoise;
}



.glow {
  font-weight: bold;
  text-shadow: 
    0 0 5px #ff00ff, 
    0 0 10px #ff00ff, 
    0 0 20px #ff00ff, 
    0 0 30px #ff33ff;
}